<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HiLowServlet</servlet-name>
        <servlet-class>sit.int303.demo.controller.HiLowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MultipllcationTableServlet</servlet-name>
        <servlet-class>sit.int303.demo.controller.MultipllcationTableServlet</servlet-class>
        <init-param>
            <param-name>defaultNumber</param-name>
            <param-value>13</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ListPokemonSer</servlet-name>
        <servlet-class>sit.int303.demo.controller.ListPokemonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EchoServlet</servlet-name>
        <servlet-class>sit.int303.demo.controller.EchoServlet</servlet-class>
        <init-param>
            <param-name>background</param-name>
            <param-value>green</param-value>
        </init-param>
        <init-param>
            <param-name>foreground</param-name>
            <param-value>red</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>FindPrimeNumberServlet</servlet-name>
        <servlet-class>sit.int303.demo.controller.FindPrimeNumberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowPokemonServlet</servlet-name>
        <servlet-class>sit.int303.demo.controller.ShowPokemonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestRequestHeader</servlet-name>
        <servlet-class>sit.int303.demo.controller.TestRequestHeader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCustomerServlet</servlet-name>
        <servlet-class>sit.int303.demo.controller.SearchCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Page1Servlet</servlet-name>
        <servlet-class>sit.int303.demo.controller.Page1Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>sit.int303.demo.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductServlet</servlet-name>
        <servlet-class>sit.int303.demo.controller.SearchProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddtoCartServlet</servlet-name>
        <servlet-class>sit.int303.demo.controller.AddToCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HiLowServlet</servlet-name>
        <url-pattern>/HiLow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MultipllcationTableServlet</servlet-name>
        <url-pattern>/mt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EchoServlet</servlet-name>
        <url-pattern>/echo</url-pattern>
        <url-pattern>/Echo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindPrimeNumberServlet</servlet-name>
        <url-pattern>/isPrime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListPokemonSer</servlet-name>
        <url-pattern>/SearchPokemon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowPokemonServlet</servlet-name>
        <url-pattern>/view/ShowPokemon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestRequestHeader</servlet-name>
        <url-pattern>/TestHeader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCustomerServlet</servlet-name>
        <url-pattern>/SearchCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Page1Servlet</servlet-name>
        <url-pattern>/Page1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductServlet</servlet-name>
        <url-pattern>/SearchProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddtoCartServlet</servlet-name>
        <url-pattern>/addToCart</url-pattern>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
